<div class="card">
    <div class="card-header">
      {{operationType === 'Add'?'Add Brand':"Update Brand" }}
    </div>
    <div class="card-body">
        <form [formGroup]="brandForm"> 
            <div class="mb-3">
              <label for="brandName" class="form-label">Brand Name</label>
              <input type="text" 
              formControlName="brandName"
              placeholder="Brand name"
              class="form-control" 
              id="brandName" 
              aria-describedby="nameHelp">
            </div>
            <button type="submit" class="btn btn-success" (click)="currentBrandId? updateBrand():addBrand()">{{currentBrandId? 'Update':'Add'}}</button>
          </form>
    </div>
  </div>
