<style>
  .space
   {
      margin-top: 30px;
   }
</style>


<div class="container">
  <app-navi></app-navi>
  <div class="space">
    <div class="row">
      <!-- <div class="col-md-3">
        <app-brand></app-brand>
        <br>
        <app-color></app-color>
      </div> -->
      <div class="col-md-12">
        <div class="form-control">
        <router-outlet></router-outlet>
        </div>
      </div>
        <!-- <div class="col-md-3">
          
        </div> -->
  </div>
    <!-- <div class="col-md-9">
      <app-car-details></app-car-details>
    </div> -->
    
  </div>
</div>



